# Elo Score Calculation

In [1]:
import re
from collections import defaultdict

In [2]:
import numpy as np
import pandas as pd

## Summary

- Notebook that calcuates the Elo Score of mice competing over access to a tone associated reward port
- The data is a spreadsheet of combination of subjects (as rows) against dates (as columns)

## Importing Data

- The original data has been trimmed so that only the cells with dates, winner ID's, and relevant metadata were kept

In [3]:
tube_test_df = pd.read_csv("../../data/tube_test_fights.csv")

In [4]:
tube_test_df.head()

,cage,animal,25-Apr,26-Apr,27-Apr,28-Apr,29-Apr,2-May,4-May,5-May,6-May,9-May,10-May,11-May,12-May,13-May,20-May
0,1,1.1 v 2.2,1.1,1.1,1.1,2.2,1.1,1.1,NaN,1.1,1.1,1.1,1.1,1.1,1.1,1.1,1.1
1,1,2.2 v 2.3,2.2,2.3,2.2,2.2,2.2,2.2,NaN,2.2,2.2,2.2,2.2,2.2,2.2,2.2,2.2
2,1,2.3 v 1.4,1.4,1.4,1.4,1.4,1.4,1.4,NaN,1.4,1.4,1.4,1.4,1.4,1.4,1.4,1.4
3,1,1.4 v 1.1,1.4,1.4,1.4,1.4,1.4,1.4,NaN,1.4,1.4,1.4,1.4,1.4,1.4,1.4,1.4
4,1,2.2 v 1.4,1.4,1.4,1.4,1.4,1.4,1.4,NaN,1.4,1.4,1.4,1.4,1.4,1.4,1.4,1.4

## Doing it for a subset of the data

- To test out the code, we will be using the data from only one cage

In [5]:
# Getting all the rows that are from cage 1
cage_1_df = tube_test_df[tube_test_df["cage"] == 1]

In [6]:
cage_1_df

,cage,animal,25-Apr,26-Apr,27-Apr,28-Apr,29-Apr,2-May,4-May,5-May,6-May,9-May,10-May,11-May,12-May,13-May,20-May
0,1,1.1 v 2.2,1.1,1.1,1.1,2.2,1.1,1.1,NaN,1.1,1.1,1.1,1.1,1.1,1.1,1.1,1.1
1,1,2.2 v 2.3,2.2,2.3,2.2,2.2,2.2,2.2,NaN,2.2,2.2,2.2,2.2,2.2,2.2,2.2,2.2
2,1,2.3 v 1.4,1.4,1.4,1.4,1.4,1.4,1.4,NaN,1.4,1.4,1.4,1.4,1.4,1.4,1.4,1.4
3,1,1.4 v 1.1,1.4,1.4,1.4,1.4,1.4,1.4,NaN,1.4,1.4,1.4,1.4,1.4,1.4,1.4,1.4
4,1,2.2 v 1.4,1.4,1.4,1.4,1.4,1.4,1.4,NaN,1.4,1.4,1.4,1.4,1.4,1.4,1.4,1.4
5,1,1.1 v 2.3,2.3,1.1,1.1,1.1,1.1,1.1,NaN,1.1,1.1,1.1,1.1,1.1,1.1,1.1,1.1

## Getting a list of all the animals

- Because each cell does not contain the ID of all the animals that were competing, we will make a new column with both ID's

In [7]:
def get_all_animal_ids(animal_string):
    """
    Converts a string that contains the ID of animals, and only gets the IDs. 
    This usually removes extra characters that were added. (i.e. "1.1 v 2.2" to ("1.1", "2.2"))

    Args:
        animal_string(str): This is the first param.

    Returns:
        tuple: Of IDs of animals as strings
    """
    # Splitting by space so that we have a list of just the words
    all_words = animal_string.split()
    # Removing all words that are not numbers
    all_numbers = [num for num in all_words if re.match(r'^-?\d+(?:\.\d+)$', num)]
    return tuple(all_numbers)

In [8]:
print(get_all_animal_ids("1.1 v 2.3"))

('1.1', '2.3')

- Turning all the columns into string so that we can match the ID's from one column to another

In [9]:
for col in cage_1_df.columns:
    cage_1_df[col] = cage_1_df[col].astype(str)

/tmp/ipykernel_140026/4260518769.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cage_1_df[col] = cage_1_df[col].astype(str)

In [10]:
cage_1_df.head()

,cage,animal,25-Apr,26-Apr,27-Apr,28-Apr,29-Apr,2-May,4-May,5-May,6-May,9-May,10-May,11-May,12-May,13-May,20-May
0,1,1.1 v 2.2,1.1,1.1,1.1,2.2,1.1,1.1,nan,1.1,1.1,1.1,1.1,1.1,1.1,1.1,1.1
1,1,2.2 v 2.3,2.2,2.3,2.2,2.2,2.2,2.2,nan,2.2,2.2,2.2,2.2,2.2,2.2,2.2,2.2
2,1,2.3 v 1.4,1.4,1.4,1.4,1.4,1.4,1.4,nan,1.4,1.4,1.4,1.4,1.4,1.4,1.4,1.4
3,1,1.4 v 1.1,1.4,1.4,1.4,1.4,1.4,1.4,nan,1.4,1.4,1.4,1.4,1.4,1.4,1.4,1.4
4,1,2.2 v 1.4,1.4,1.4,1.4,1.4,1.4,1.4,nan,1.4,1.4,1.4,1.4,1.4,1.4,1.4,1.4

In [11]:
cage_1_df["all_animals"] = cage_1_df["animal"].apply(lambda x: get_all_animal_ids(x))

/tmp/ipykernel_140026/1018194899.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cage_1_df["all_animals"] = cage_1_df["animal"].apply(lambda x: get_all_animal_ids(x))

In [12]:
cage_1_df.head()

,cage,animal,25-Apr,26-Apr,27-Apr,28-Apr,29-Apr,2-May,4-May,5-May,6-May,9-May,10-May,11-May,12-May,13-May,20-May,all_animals
0,1,1.1 v 2.2,1.1,1.1,1.1,2.2,1.1,1.1,nan,1.1,1.1,1.1,1.1,1.1,1.1,1.1,1.1,"(1.1, 2.2)"
1,1,2.2 v 2.3,2.2,2.3,2.2,2.2,2.2,2.2,nan,2.2,2.2,2.2,2.2,2.2,2.2,2.2,2.2,"(2.2, 2.3)"
2,1,2.3 v 1.4,1.4,1.4,1.4,1.4,1.4,1.4,nan,1.4,1.4,1.4,1.4,1.4,1.4,1.4,1.4,"(2.3, 1.4)"
3,1,1.4 v 1.1,1.4,1.4,1.4,1.4,1.4,1.4,nan,1.4,1.4,1.4,1.4,1.4,1.4,1.4,1.4,"(1.4, 1.1)"
4,1,2.2 v 1.4,1.4,1.4,1.4,1.4,1.4,1.4,nan,1.4,1.4,1.4,1.4,1.4,1.4,1.4,1.4,"(2.2, 1.4)"

## Elo Score Calculation

In [13]:
def calculate_elo_score(subject_elo_score, agent_elo_score, k_factor=20, score=1, number_of_decimals=None):
    """
    Calculates the Elo score of a given subject given it's original score, it's opponent, 
    the K-Factor, and whether or not it has won or not. 
    The calculation is based on: https://www.omnicalculator.com/sports/elo

    Args:
        subject_elo_score(float): The original Elo score for the subject
        agent_elo_score(float): The original Elo score for the agent
        k_factor(int): k-factor, or development coefficient. 
            - It usually takes values between 10 and 40, depending on player's strength 
        score(int): the actual outcome of the game. 
            - In chess, a win counts as 1 point, a draw is equal to 0.5, and a lose gives 0.
        number_of_decimals(int): Number of decimals to round to
        
    Returns:
        int: Updated Elo score of the subject
    """
    # Calculating the Elo score
    rating_difference = agent_elo_score - subject_elo_score
    expected_score = 1 / (1 + 10 ** (rating_difference / 400))
    new_elo_score = subject_elo_score + k_factor * (score - expected_score)
    # Rounding to `number_of_decimals`
    return round(new_elo_score, number_of_decimals)

In [14]:
calculate_elo_score(subject_elo_score=1500, agent_elo_score=500, score=0)

1480

## Calculate all the Elo scores for this cage

In [15]:
cage_1_df.columns

Index(['cage', 'animal', '25-Apr', '26-Apr', '27-Apr', '28-Apr', '29-Apr',
       '2-May', '4-May', '5-May', '6-May', '9-May', '10-May', '11-May',
       '12-May', '13-May', '20-May', 'all_animals'],
      dtype='object')

In [16]:
# Dictionary that keeps track of the current Elo score of the subject
id_to_elo_score = defaultdict(lambda:1000)

index_to_elo_score_and_meta_data = defaultdict(dict)
# Iterating through each column which is a day
all_indexes = iter(range(0, 99999))
for column in cage_1_df:
    if column not in ['cage', 'animal', 'all_animals']:
        print("Current Date: {}".format(column))
        # Keeping track of the number of matches
        id_to_match_number = defaultdict(lambda:1)
        for index, row in cage_1_df.iterrows():
            # Checking if there is an Nan or not
            if row[column] == "nan":
                continue
            else:            
                winner_id = row[column]

            # Getting the ID of the loser subject
            loser_id = list(set(row["all_animals"]) - set([winner_id]))
            loser_id = loser_id[0]
            # Getting the current Elo Score
            current_winner_rating = id_to_elo_score[winner_id] 
            current_loser_rating = id_to_elo_score[loser_id] 
            # Calculating Elo score            
            id_to_elo_score[winner_id] = calculate_elo_score(subject_elo_score=current_winner_rating, agent_elo_score=current_loser_rating, score=1)
            id_to_elo_score[loser_id] = calculate_elo_score(subject_elo_score=current_loser_rating, agent_elo_score=current_winner_rating, score=0)
            
            # Saving all the data for the winner
            winner_index = next(all_indexes)
            index_to_elo_score_and_meta_data[winner_index]["date"] = column
            index_to_elo_score_and_meta_data[winner_index]["match_number"] = id_to_match_number[winner_id]
            index_to_elo_score_and_meta_data[winner_index]["subject_id"] = winner_id
            index_to_elo_score_and_meta_data[winner_index]["agent_id"] = loser_id
            index_to_elo_score_and_meta_data[winner_index]["original_elo_score"] = current_winner_rating
            index_to_elo_score_and_meta_data[winner_index]["updated_elo_score"] = id_to_elo_score[winner_id]
            index_to_elo_score_and_meta_data[winner_index]["win_draw_loss"] = 1
            
            # Saving all the data for the loser
            loser_index = next(all_indexes)
            index_to_elo_score_and_meta_data[loser_index]["date"] = column
            index_to_elo_score_and_meta_data[loser_index]["match_number"] = id_to_match_number[loser_id]
            index_to_elo_score_and_meta_data[loser_index]["subject_id"] = loser_id
            index_to_elo_score_and_meta_data[loser_index]["agent_id"] = winner_id
            index_to_elo_score_and_meta_data[loser_index]["original_elo_score"] = current_loser_rating
            index_to_elo_score_and_meta_data[loser_index]["updated_elo_score"] = id_to_elo_score[loser_id]
            index_to_elo_score_and_meta_data[loser_index]["win_draw_loss"] = 0
            
            id_to_match_number[winner_id] += 1
            id_to_match_number[loser_id] += 1
        break

Current Date: 25-Apr

# Calculate Elo score for all cells

In [17]:
for col in tube_test_df.columns:
    tube_test_df[col] = tube_test_df[col].astype(str)

In [18]:
rename_dates_dict = {"25-Apr": "04_25",  "26-Apr": "04_26",  "27-Apr": "04_27",  "28-Apr": "04_28",  "29-Apr": "04_29",  "2-May": "05_02", "4-May": "05_04", "5-May": "05_05", "6-May": "05_06", "9-May": "05_09", "10-May": "05_10", "11-May": "05_11", "12-May": "05_12", "13-May": "05_13",  "20-May": "05_20"}

In [19]:
tube_test_df = tube_test_df.rename(columns=rename_dates_dict)

In [20]:
tube_test_df.head()

,cage,animal,04_25,04_26,04_27,04_28,04_29,05_02,05_04,05_05,05_06,05_09,05_10,05_11,05_12,05_13,05_20
0,1,1.1 v 2.2,1.1,1.1,1.1,2.2,1.1,1.1,nan,1.1,1.1,1.1,1.1,1.1,1.1,1.1,1.1
1,1,2.2 v 2.3,2.2,2.3,2.2,2.2,2.2,2.2,nan,2.2,2.2,2.2,2.2,2.2,2.2,2.2,2.2
2,1,2.3 v 1.4,1.4,1.4,1.4,1.4,1.4,1.4,nan,1.4,1.4,1.4,1.4,1.4,1.4,1.4,1.4
3,1,1.4 v 1.1,1.4,1.4,1.4,1.4,1.4,1.4,nan,1.4,1.4,1.4,1.4,1.4,1.4,1.4,1.4
4,1,2.2 v 1.4,1.4,1.4,1.4,1.4,1.4,1.4,nan,1.4,1.4,1.4,1.4,1.4,1.4,1.4,1.4

In [21]:
tube_test_df["all_animals"] = tube_test_df["animal"].apply(lambda x: get_all_animal_ids(x))

## Get the Elo score for one fight

In [22]:
tube_test_df.columns

Index(['cage', 'animal', '04_25', '04_26', '04_27', '04_28', '04_29', '05_02',
       '05_04', '05_05', '05_06', '05_09', '05_10', '05_11', '05_12', '05_13',
       '05_20', 'all_animals'],
      dtype='object')

In [23]:
# Dictionary that keeps track of the current Elo score of the subject
id_to_elo_score = defaultdict(lambda:1000)

index_to_elo_score_and_meta_data = defaultdict(dict)
# Iterating through each column which is a day
all_indexes = iter(range(0, 99999))
for column in tube_test_df:
    if column not in ['cage', 'animal', 'all_animals']:
        print("Current Date: {}".format(column))
        # Keeping track of the number of matches
        id_to_match_number = defaultdict(lambda:1)
        for index, row in tube_test_df.iterrows():
            # Checking if there is an Nan or not
            if row[column] == "nan":
                continue
            else:            
                winner_id = row[column]

            # Getting the ID of the loser subject
            loser_id = list(set(row["all_animals"]) - set([winner_id]))
            loser_id = loser_id[0]
            # Getting the current Elo Score
            current_winner_rating = id_to_elo_score[winner_id] 
            current_loser_rating = id_to_elo_score[loser_id] 
            # Calculating Elo score            
            id_to_elo_score[winner_id] = calculate_elo_score(subject_elo_score=current_winner_rating, agent_elo_score=current_loser_rating, score=1, number_of_decimals=1)
            id_to_elo_score[loser_id] = calculate_elo_score(subject_elo_score=current_loser_rating, agent_elo_score=current_winner_rating, score=0, number_of_decimals=1)
            
            # Saving all the data for the winner
            winner_index = next(all_indexes)
            index_to_elo_score_and_meta_data[winner_index]["date"] = column
            index_to_elo_score_and_meta_data[winner_index]["match_number"] = id_to_match_number[winner_id]
            index_to_elo_score_and_meta_data[winner_index]["cage"] = row["cage"]
            index_to_elo_score_and_meta_data[winner_index]["subject_id"] = winner_id
            index_to_elo_score_and_meta_data[winner_index]["agent_id"] = loser_id
            index_to_elo_score_and_meta_data[winner_index]["original_elo_score"] = current_winner_rating
            index_to_elo_score_and_meta_data[winner_index]["updated_elo_score"] = id_to_elo_score[winner_id]
            index_to_elo_score_and_meta_data[winner_index]["win_draw_loss"] = 1
            
            
            # Saving all the data for the loser
            loser_index = next(all_indexes)
            index_to_elo_score_and_meta_data[loser_index]["date"] = column
            index_to_elo_score_and_meta_data[loser_index]["match_number"] = id_to_match_number[loser_id]
            index_to_elo_score_and_meta_data[loser_index]["cage"] = row["cage"]
            index_to_elo_score_and_meta_data[loser_index]["subject_id"] = loser_id
            index_to_elo_score_and_meta_data[loser_index]["agent_id"] = winner_id
            index_to_elo_score_and_meta_data[loser_index]["original_elo_score"] = current_loser_rating
            index_to_elo_score_and_meta_data[loser_index]["updated_elo_score"] = id_to_elo_score[loser_id]
            index_to_elo_score_and_meta_data[loser_index]["win_draw_loss"] = 0
            
            id_to_match_number[winner_id] += 1
            id_to_match_number[loser_id] += 1

Current Date: 04_25
Current Date: 04_26
Current Date: 04_27
Current Date: 04_28
Current Date: 04_29
Current Date: 05_02
Current Date: 05_04
Current Date: 05_05
Current Date: 05_06
Current Date: 05_09
Current Date: 05_10
Current Date: 05_11
Current Date: 05_12
Current Date: 05_13
Current Date: 05_20

In [24]:
id_to_elo_score

defaultdict(<function __main__.<lambda>()>,
            {'1.1': 1065.7,
             '2.2': 937.8,
             '2.3': 778.9,
             '1.4': 1238.0,
             '1.2': 937.4,
             '1.3': 781.4,
             '2.4': 1145.0,
             '2.1': 1115.8,
             '3.2': 1228.3,
             '4.2': 1082.2,
             '3.3': 905.0,
             '4.1': 784.5,
             '4.3': 1110.6,
             '3.4': 1129.5,
             '3.1': 981.9,
             '4.4': 778.0})

In [25]:
index_to_elo_score_and_meta_data[0]

{'date': '04_25',
 'match_number': 1,
 'cage': '1',
 'subject_id': '1.1',
 'agent_id': '2.2',
 'original_elo_score': 1000,
 'updated_elo_score': 1010.0,
 'win_draw_loss': 1}

In [26]:
elo_score_df = pd.DataFrame.from_dict(index_to_elo_score_and_meta_data, orient="index")

In [27]:
elo_score_df.head(n=25)

,date,match_number,cage,subject_id,agent_id,original_elo_score,updated_elo_score,win_draw_loss
0,04_25,1,1,1.1,2.2,1000.0,1010.0,1
1,04_25,1,1,2.2,1.1,1000.0,990.0,0
2,04_25,2,1,2.2,2.3,990.0,1000.3,1
3,04_25,1,1,2.3,2.2,1000.0,989.7,0
4,04_25,1,1,1.4,2.3,1000.0,1009.7,1
5,04_25,2,1,2.3,1.4,989.7,980.0,0
6,04_25,2,1,1.4,1.1,1009.7,1019.7,1
7,04_25,2,1,1.1,1.4,1010.0,1000.0,0
8,04_25,3,1,1.4,2.2,1019.7,1029.1,1
9,04_25,3,1,2.2,1.4,1000.3,990.9,0
10,04_25,3,1,2.3,1.1,980.0,990.6,1
11,04_25,3,1,1.1,2.3,1000.0,989.4,0
12,04_25,1,2,1.2,1.3,1000.0,1010.0,1
13,04_25,1,2,1.3,1.2,1000.0,990.0,0
14,04_25,1,2,2.4,1.3,1000.0,1009.7,1
15,04_25,2,2,1.3,2.4,990.0,980.3,0
16,04_25,1,2,2.1,1.3,1000.0,1009.4,1
17,04_25,3,2,1.3,2.1,980.3,970.9,0
18,04_25,1,3,3.2,4.2,1000.0,1010.0,1
19,04_25,1,3,4.2,3.2,1000.0,990.0,0
20,04_25,2,3,4.2,3.3,990.0,1000.3,1
21,04_25,1,3,3.3,4.2,1000.0,989.7,0
22,04_25,2,3,3.3,4.1,989.7,1000.0,1
23,04_25,1,3,4.1,3.3,1000.0,989.7,0
24,04_25,2,3,3.2,4.1,1010.0,1019.4,1

In [28]:
elo_score_df.to_csv("./proc/tube_test_elo_score.csv")
# elo_score_df.to_excel("./proc/id_to_date_elo_score.xlsx")

# DROP days that have have draws

# Calculate Elo score for Home Cage Observations

In [29]:
home_cage_observations_df = pd.read_excel("../../data/Homecage observations.xlsx", sheet_name="Master List")

In [30]:
home_cage_observations_df["date_str"] = home_cage_observations_df["Unnamed: 0"].astype(str)

In [31]:
home_cage_observations_df.head()

  Unnamed: 0              Match  Winner     date_str
0 2022-05-02  4.3 (3) v 4.4 (4)  4.4 (4)  2022-05-02
1 2022-05-02  4.4 (4) v 3.4 (2)  4.4 (4)  2022-05-02
2 2022-05-02  4.4 (4) v 3.1 (1)  4.4 (4)  2022-05-02
3 2022-05-02  4.4 (4) v 3.4 (2)  4.4 (4)  2022-05-02
4 2022-05-02  4.3 (3) v 4.4 (4)  4.4 (4)  2022-05-02

In [32]:
home_cage_observations_df["winner_str"] = home_cage_observations_df["Winner "].apply(lambda x: x.strip())

# Add Cage information

In [33]:
id_to_cage = {"1.1": "1",
"2.2": "1",
"2.3": "1",
"1.4": "1",

"2.1": "2",
"1.2": "2",
"1.3": "2", 
"2.4": "2",

"4.1 (1)": "3", 
"3.2 (2)": "3", 
"4.2 (3)": "3", 
"3.3 (4)": "3", 

"3.1 (1)": "4",
"3.4 (2)": "4", 
"4.3 (3)": "4",
"4.4 (4)": "4"}

In [34]:
home_cage_observations_df["cage"] = home_cage_observations_df["winner_str"].map(id_to_cage)

In [35]:
home_cage_observations_df.head()

  Unnamed: 0              Match  Winner     date_str winner_str cage
0 2022-05-02  4.3 (3) v 4.4 (4)  4.4 (4)  2022-05-02    4.4 (4)    4
1 2022-05-02  4.4 (4) v 3.4 (2)  4.4 (4)  2022-05-02    4.4 (4)    4
2 2022-05-02  4.4 (4) v 3.1 (1)  4.4 (4)  2022-05-02    4.4 (4)    4
3 2022-05-02  4.4 (4) v 3.4 (2)  4.4 (4)  2022-05-02    4.4 (4)    4
4 2022-05-02  4.3 (3) v 4.4 (4)  4.4 (4)  2022-05-02    4.4 (4)    4

# Calculate Elo score for all cells

- Getting all the ID's of the animals

In [36]:
# Splitting by "v" and stripping all the spaces
home_cage_observations_df["all_animals"] = home_cage_observations_df["Match"].apply(lambda x: tuple([animal.strip() for animal in x.split("v")]))

In [37]:
home_cage_observations_df.head(n=25)

,Unnamed: 0,Match,Winner,date_str,winner_str,cage,all_animals
0,2022-05-02,4.3 (3) v 4.4 (4),4.4 (4),2022-05-02,4.4 (4),4,"(4.3 (3), 4.4 (4))"
1,2022-05-02,4.4 (4) v 3.4 (2),4.4 (4),2022-05-02,4.4 (4),4,"(4.4 (4), 3.4 (2))"
2,2022-05-02,4.4 (4) v 3.1 (1),4.4 (4),2022-05-02,4.4 (4),4,"(4.4 (4), 3.1 (1))"
3,2022-05-02,4.4 (4) v 3.4 (2),4.4 (4),2022-05-02,4.4 (4),4,"(4.4 (4), 3.4 (2))"
4,2022-05-02,4.3 (3) v 4.4 (4),4.4 (4),2022-05-02,4.4 (4),4,"(4.3 (3), 4.4 (4))"
5,2022-05-02,4.3 (3) v 4.4 (4),4.4 (4),2022-05-02,4.4 (4),4,"(4.3 (3), 4.4 (4))"
6,2022-05-02,4.4 (4) v 3.4 (2),4.4 (4),2022-05-02,4.4 (4),4,"(4.4 (4), 3.4 (2))"
7,2022-05-02,4.3 (3) v 4.4 (4),4.4 (4),2022-05-02,4.4 (4),4,"(4.3 (3), 4.4 (4))"
8,2022-05-02,4.4 (4) v 3.1 (1),4.4 (4),2022-05-02,4.4 (4),4,"(4.4 (4), 3.1 (1))"
9,2022-05-02,4.4 (4) v 3.1 (1),4.4 (4),2022-05-02,4.4 (4),4,"(4.4 (4), 3.1 (1))"
10,2022-05-02,4.4 (4) v 3.1 (1),4.4 (4),2022-05-02,4.4 (4),4,"(4.4 (4), 3.1 (1))"
11,2022-05-03,4.3 (3) v 4.4 (4),4.4 (4),2022-05-03,4.4 (4),4,"(4.3 (3), 4.4 (4))"
12,2022-05-03,4.3 (3) v 4.4 (4),4.4 (4),2022-05-03,4.4 (4),4,"(4.3 (3), 4.4 (4))"
13,2022-05-03,4.4 (4) v 3.1 (1),4.4 (4),2022-05-03,4.4 (4),4,"(4.4 (4), 3.1 (1))"
14,2022-05-03,4.3 (3) v 4.4 (4),4.4 (4),2022-05-03,4.4 (4),4,"(4.3 (3), 4.4 (4))"
15,2022-05-03,4.4 (4) v 3.4 (2),4.4 (4),2022-05-03,4.4 (4),4,"(4.4 (4), 3.4 (2))"
16,2022-05-03,4.3 (3) v 4.4 (4),4.4 (4),2022-05-03,4.4 (4),4,"(4.3 (3), 4.4 (4))"
17,2022-05-03,4.4 (4) v 3.4 (2),4.4 (4),2022-05-03,4.4 (4),4,"(4.4 (4), 3.4 (2))"
18,2022-05-03,4.4 (4) v 3.4 (2),4.4 (4),2022-05-03,4.4 (4),4,"(4.4 (4), 3.4 (2))"
19,2022-05-03,4.4 (4) v 3.4 (2),4.4 (4),2022-05-03,4.4 (4),4,"(4.4 (4), 3.4 (2))"
20,2022-05-03,4.4 (4) v 3.4 (2),4.4 (4),2022-05-03,4.4 (4),4,"(4.4 (4), 3.4 (2))"
21,2022-05-03,4.4 (4) v 3.4 (2),4.4 (4),2022-05-03,4.4 (4),4,"(4.4 (4), 3.4 (2))"
22,2022-05-03,4.3 (3) v 3.1 (1),4.3 (3),2022-05-03,4.3 (3),4,"(4.3 (3), 3.1 (1))"
23,2022-05-04,4.1 (1) v 3.3 (4),4.1 (1),2022-05-04,4.1 (1),3,"(4.1 (1), 3.3 (4))"
24,2022-05-04,4.1 (1) v 3.3 (4),4.1 (1),2022-05-04,4.1 (1),3,"(4.1 (1), 3.3 (4))"

## Get the Elo score for one fight

In [38]:
# Dictionary that keeps track of the current Elo score of the subject
id_to_elo_score = defaultdict(lambda:1000)

index_to_elo_score_and_meta_data = defaultdict(dict)
# Iterating through each column which is a day
all_indexes = iter(range(0, 99999))

# Keeping track of the number of matches
id_to_match_number = defaultdict(lambda:1)
for index, row in home_cage_observations_df.iterrows():
    # Checking if there is an Nan or not
    if row["Winner "] == "nan":
        continue
    else:            
        winner_id = row["winner_str"]
    date = row["date_str"]
    # Getting the ID of the loser subject
    loser_id = list(set(row["all_animals"]) - set([winner_id]))
    loser_id = loser_id[0]
    # Getting the current Elo Score
    current_winner_rating = id_to_elo_score[winner_id] 
    current_loser_rating = id_to_elo_score[loser_id] 
    # Calculating Elo score            
    id_to_elo_score[winner_id] = calculate_elo_score(subject_elo_score=current_winner_rating, agent_elo_score=current_loser_rating, score=1, number_of_decimals=1)
    id_to_elo_score[loser_id] = calculate_elo_score(subject_elo_score=current_loser_rating, agent_elo_score=current_winner_rating, score=0, number_of_decimals=1)

    # Saving all the data for the winner
    winner_index = next(all_indexes)
    index_to_elo_score_and_meta_data[winner_index]["date"] = date
    index_to_elo_score_and_meta_data[winner_index]["match_number"] = id_to_match_number[date + winner_id]
    index_to_elo_score_and_meta_data[winner_index]["cage"] = row["cage"]
    index_to_elo_score_and_meta_data[winner_index]["subject_id"] = winner_id
    index_to_elo_score_and_meta_data[winner_index]["agent_id"] = loser_id
    index_to_elo_score_and_meta_data[winner_index]["original_elo_score"] = current_winner_rating
    index_to_elo_score_and_meta_data[winner_index]["updated_elo_score"] = id_to_elo_score[winner_id]
    index_to_elo_score_and_meta_data[winner_index]["win_draw_loss"] = 1


    # Saving all the data for the loser
    loser_index = next(all_indexes)
    index_to_elo_score_and_meta_data[loser_index]["date"] = date
    index_to_elo_score_and_meta_data[loser_index]["match_number"] = id_to_match_number[date + loser_id]
    index_to_elo_score_and_meta_data[loser_index]["cage"] = row["cage"]
    index_to_elo_score_and_meta_data[loser_index]["subject_id"] = loser_id
    index_to_elo_score_and_meta_data[loser_index]["agent_id"] = winner_id
    index_to_elo_score_and_meta_data[loser_index]["original_elo_score"] = current_loser_rating
    index_to_elo_score_and_meta_data[loser_index]["updated_elo_score"] = id_to_elo_score[loser_id]
    index_to_elo_score_and_meta_data[loser_index]["win_draw_loss"] = 0

    id_to_match_number[date + winner_id] += 1
    id_to_match_number[date + loser_id] += 1

In [39]:
id_to_elo_score

defaultdict(<function __main__.<lambda>()>,
            {'4.4 (4)': 1290.3,
             '4.3 (3)': 924.6,
             '3.4 (2)': 866.3,
             '3.1 (1)': 918.8,
             '4.1 (1)': 1185.0,
             '3.3 (4)': 944.7,
             '3.2 (2)': 889.6,
             '4.2 (3)': 980.7})

In [40]:
index_to_elo_score_and_meta_data[0]

{'date': '2022-05-02',
 'match_number': 1,
 'cage': '4',
 'subject_id': '4.4 (4)',
 'agent_id': '4.3 (3)',
 'original_elo_score': 1000,
 'updated_elo_score': 1010.0,
 'win_draw_loss': 1}

In [41]:
home_cage_elo_score_df = pd.DataFrame.from_dict(index_to_elo_score_and_meta_data, orient="index")

In [42]:
home_cage_elo_score_df

,date,match_number,cage,subject_id,agent_id,original_elo_score,updated_elo_score,win_draw_loss
0,2022-05-02,1,4,4.4 (4),4.3 (3),1000.0,1010.0,1
1,2022-05-02,1,4,4.3 (3),4.4 (4),1000.0,990.0,0
2,2022-05-02,2,4,4.4 (4),3.4 (2),1010.0,1019.7,1
3,2022-05-02,1,4,3.4 (2),4.4 (4),1000.0,990.3,0
4,2022-05-02,3,4,4.4 (4),3.1 (1),1019.7,1029.1,1
...,...,...,...,...,...,...,...,...
243,2022-05-13,4,4,3.4 (2),4.4 (4),869.6,867.9,0
244,2022-05-13,16,4,4.4 (4),4.3 (3),1286.5,1288.7,1
245,2022-05-13,4,4,4.3 (3),4.4 (4),926.8,924.6,0
246,2022-05-13,17,4,4.4 (4),3.4 (2),1288.7,1290.3,1
247,2022-05-13,5,4,3.4 (2),4.4 (4),867.9,866.3,0

In [43]:
home_cage_elo_score_df[home_cage_elo_score_df["date"] == "2022-05-04"]

,date,match_number,cage,subject_id,agent_id,original_elo_score,updated_elo_score,win_draw_loss
46,2022-05-04,1,3,4.1 (1),3.3 (4),1000.0,1010.0,1
47,2022-05-04,1,3,3.3 (4),4.1 (1),1000.0,990.0,0
48,2022-05-04,2,3,4.1 (1),3.3 (4),1010.0,1019.4,1
49,2022-05-04,2,3,3.3 (4),4.1 (1),990.0,980.6,0
50,2022-05-04,3,3,4.1 (1),3.2 (2),1019.4,1028.8,1
51,2022-05-04,1,3,3.2 (2),4.1 (1),1000.0,990.6,0
52,2022-05-04,4,3,4.1 (1),3.3 (4),1028.8,1037.4,1
53,2022-05-04,3,3,3.3 (4),4.1 (1),980.6,972.0,0
54,2022-05-04,5,3,4.1 (1),3.2 (2),1037.4,1046.1,1
55,2022-05-04,2,3,3.2 (2),4.1 (1),990.6,981.9,0
56,2022-05-04,6,3,4.1 (1),3.2 (2),1046.1,1054.3,1
57,2022-05-04,3,3,3.2 (2),4.1 (1),981.9,973.7,0
58,2022-05-04,7,3,4.1 (1),3.2 (2),1054.3,1062.0,1
59,2022-05-04,4,3,3.2 (2),4.1 (1),973.7,966.0,0
60,2022-05-04,8,3,4.1 (1),3.2 (2),1062.0,1069.3,1
61,2022-05-04,5,3,3.2 (2),4.1 (1),966.0,958.7,0
62,2022-05-04,9,3,4.1 (1),3.2 (2),1069.3,1076.2,1
63,2022-05-04,6,3,3.2 (2),4.1 (1),958.7,951.8,0
64,2022-05-04,10,3,4.1 (1),3.3 (4),1076.2,1083.3,1
65,2022-05-04,4,3,3.3 (4),4.1 (1),972.0,964.9,0
66,2022-05-04,11,3,4.1 (1),3.2 (2),1083.3,1089.7,1
67,2022-05-04,7,3,3.2 (2),4.1 (1),951.8,945.4,0
68,2022-05-04,12,3,4.1 (1),4.2 (3),1089.7,1097.2,1
69,2022-05-04,1,3,4.2 (3),4.1 (1),1000.0,992.5,0
70,2022-05-04,13,3,4.1 (1),3.2 (2),1097.2,1103.1,1
71,2022-05-04,8,3,3.2 (2),4.1 (1),945.4,939.5,0
72,2022-05-04,14,3,4.1 (1),3.2 (2),1103.1,1108.7,1
73,2022-05-04,9,3,3.2 (2),4.1 (1),939.5,933.9,0
74,2022-05-04,15,3,4.1 (1),3.2 (2),1108.7,1114.1,1
75,2022-05-04,10,3,3.2 (2),4.1 (1),933.9,928.5,0
76,2022-05-04,16,3,4.1 (1),3.2 (2),1114.1,1119.2,1
77,2022-05-04,11,3,3.2 (2),4.1 (1),928.5,923.4,0
78,2022-05-04,17,3,4.1 (1),3.2 (2),1119.2,1124.1,1
79,2022-05-04,12,3,3.2 (2),4.1 (1),923.4,918.5,0
80,2022-05-04,18,3,4.1 (1),3.2 (2),1124.1,1128.8,1
81,2022-05-04,13,3,3.2 (2),4.1 (1),918.5,913.8,0
82,2022-05-04,19,3,4.1 (1),3.2 (2),1128.8,1133.3,1
83,2022-05-04,14,3,3.2 (2),4.1 (1),913.8,909.3,0
84,2022-05-04,1,4,3.4 (2),3.1 (1),941.5,951.8,1
85,2022-05-04,1,4,3.1 (1),3.4 (2),951.7,941.4,0
86,2022-05-04,2,4,3.1 (1),3.4 (2),941.4,951.7,1
87,2022-05-04,2,4,3.4 (2),3.1 (1),951.8,941.5,0
88,2022-05-04,3,4,3.1 (1),3.4 (2),951.7,961.4,1
89,2022-05-04,3,4,3.4 (2),3.1 (1),941.5,931.8,0
90,2022-05-04,4,4,3.1 (1),3.4 (2),961.4,970.6,1
91,2022-05-04,4,4,3.4 (2),3.1 (1),931.8,922.6,0
92,2022-05-04,5,4,3.1 (1),3.4 (2),970.6,979.2,1
93,2022-05-04,5,4,3.4 (2),3.1 (1),922.6,914.0,0
94,2022-05-04,6,4,3.1 (1),3.4 (2),979.2,987.3,1
95,2022-05-04,6,4,3.4 (2),3.1 (1),914.0,905.9,0
96,2022-05-04,7,4,3.1 (1),3.4 (2),987.3,995.0,1
97,2022-05-04,7,4,3.4 (2),3.1 (1),905.9,898.2,0
98,2022-05-04,8,4,3.1 (1),3.4 (2),995.0,1002.3,1
99,2022-05-04,8,4,3.4 (2),3.1 (1),898.2,890.9,0
100,2022-05-04,9,4,3.1 (1),3.4 (2),1002.3,1009.2,1
101,2022-05-04,9,4,3.4 (2),3.1 (1),890.9,884.0,0
102,2022-05-04,10,4,3.1 (1),3.4 (2),1009.2,1015.7,1
103,2022-05-04,10,4,3.4 (2),3.1 (1),884.0,877.5,0

In [44]:
home_cage_elo_score_df["date"]

0      2022-05-02
1      2022-05-02
2      2022-05-02
3      2022-05-02
4      2022-05-02
          ...
243    2022-05-13
244    2022-05-13
245    2022-05-13
246    2022-05-13
247    2022-05-13
Name: date, Length: 248, dtype: object

In [45]:
home_cage_elo_score_df[home_cage_elo_score_df["date"] == "2022-05-02" ]

,date,match_number,cage,subject_id,agent_id,original_elo_score,updated_elo_score,win_draw_loss
0,2022-05-02,1,4,4.4 (4),4.3 (3),1000.0,1010.0,1
1,2022-05-02,1,4,4.3 (3),4.4 (4),1000.0,990.0,0
2,2022-05-02,2,4,4.4 (4),3.4 (2),1010.0,1019.7,1
3,2022-05-02,1,4,3.4 (2),4.4 (4),1000.0,990.3,0
4,2022-05-02,3,4,4.4 (4),3.1 (1),1019.7,1029.1,1
5,2022-05-02,1,4,3.1 (1),4.4 (4),1000.0,990.6,0
6,2022-05-02,4,4,4.4 (4),3.4 (2),1029.1,1038.0,1
7,2022-05-02,2,4,3.4 (2),4.4 (4),990.3,981.4,0
8,2022-05-02,5,4,4.4 (4),4.3 (3),1038.0,1046.6,1
9,2022-05-02,2,4,4.3 (3),4.4 (4),990.0,981.4,0
10,2022-05-02,6,4,4.4 (4),4.3 (3),1046.6,1054.7,1
11,2022-05-02,3,4,4.3 (3),4.4 (4),981.4,973.3,0
12,2022-05-02,7,4,4.4 (4),3.4 (2),1054.7,1062.6,1
13,2022-05-02,3,4,3.4 (2),4.4 (4),981.4,973.5,0
14,2022-05-02,8,4,4.4 (4),4.3 (3),1062.6,1070.1,1
15,2022-05-02,4,4,4.3 (3),4.4 (4),973.3,965.8,0
16,2022-05-02,9,4,4.4 (4),3.1 (1),1070.1,1077.9,1
17,2022-05-02,2,4,3.1 (1),4.4 (4),990.6,982.8,0
18,2022-05-02,10,4,4.4 (4),3.1 (1),1077.9,1085.2,1
19,2022-05-02,3,4,3.1 (1),4.4 (4),982.8,975.5,0
20,2022-05-02,11,4,4.4 (4),3.1 (1),1085.2,1092.1,1
21,2022-05-02,4,4,3.1 (1),4.4 (4),975.5,968.6,0

In [46]:
home_cage_elo_score_df.head(n=30)

,date,match_number,cage,subject_id,agent_id,original_elo_score,updated_elo_score,win_draw_loss
0,2022-05-02,1,4,4.4 (4),4.3 (3),1000.0,1010.0,1
1,2022-05-02,1,4,4.3 (3),4.4 (4),1000.0,990.0,0
2,2022-05-02,2,4,4.4 (4),3.4 (2),1010.0,1019.7,1
3,2022-05-02,1,4,3.4 (2),4.4 (4),1000.0,990.3,0
4,2022-05-02,3,4,4.4 (4),3.1 (1),1019.7,1029.1,1
5,2022-05-02,1,4,3.1 (1),4.4 (4),1000.0,990.6,0
6,2022-05-02,4,4,4.4 (4),3.4 (2),1029.1,1038.0,1
7,2022-05-02,2,4,3.4 (2),4.4 (4),990.3,981.4,0
8,2022-05-02,5,4,4.4 (4),4.3 (3),1038.0,1046.6,1
9,2022-05-02,2,4,4.3 (3),4.4 (4),990.0,981.4,0
10,2022-05-02,6,4,4.4 (4),4.3 (3),1046.6,1054.7,1
11,2022-05-02,3,4,4.3 (3),4.4 (4),981.4,973.3,0
12,2022-05-02,7,4,4.4 (4),3.4 (2),1054.7,1062.6,1
13,2022-05-02,3,4,3.4 (2),4.4 (4),981.4,973.5,0
14,2022-05-02,8,4,4.4 (4),4.3 (3),1062.6,1070.1,1
15,2022-05-02,4,4,4.3 (3),4.4 (4),973.3,965.8,0
16,2022-05-02,9,4,4.4 (4),3.1 (1),1070.1,1077.9,1
17,2022-05-02,2,4,3.1 (1),4.4 (4),990.6,982.8,0
18,2022-05-02,10,4,4.4 (4),3.1 (1),1077.9,1085.2,1
19,2022-05-02,3,4,3.1 (1),4.4 (4),982.8,975.5,0
20,2022-05-02,11,4,4.4 (4),3.1 (1),1085.2,1092.1,1
21,2022-05-02,4,4,3.1 (1),4.4 (4),975.5,968.6,0
22,2022-05-03,1,4,4.4 (4),4.3 (3),1092.1,1098.6,1
23,2022-05-03,1,4,4.3 (3),4.4 (4),965.8,959.3,0
24,2022-05-03,2,4,4.4 (4),4.3 (3),1098.6,1104.8,1
25,2022-05-03,2,4,4.3 (3),4.4 (4),959.3,953.1,0
26,2022-05-03,3,4,4.4 (4),3.1 (1),1104.8,1111.1,1
27,2022-05-03,1,4,3.1 (1),4.4 (4),968.6,962.3,0
28,2022-05-03,4,4,4.4 (4),4.3 (3),1111.1,1116.8,1
29,2022-05-03,3,4,4.3 (3),4.4 (4),953.1,947.4,0

In [47]:
home_cage_elo_score_df.tail()

,date,match_number,cage,subject_id,agent_id,original_elo_score,updated_elo_score,win_draw_loss
243,2022-05-13,4,4,3.4 (2),4.4 (4),869.6,867.9,0
244,2022-05-13,16,4,4.4 (4),4.3 (3),1286.5,1288.7,1
245,2022-05-13,4,4,4.3 (3),4.4 (4),926.8,924.6,0
246,2022-05-13,17,4,4.4 (4),3.4 (2),1288.7,1290.3,1
247,2022-05-13,5,4,3.4 (2),4.4 (4),867.9,866.3,0

In [48]:
home_cage_elo_score_df.to_csv("./proc/home_cage_elo_score.csv")
# elo_score_df.to_excel("./proc/id_to_date_elo_score.xlsx")

# Calculate Elo score for Reward Competition

In [49]:
reward_competition_df = pd.read_excel("../../data/Pilot of Pilot - Reward Competition Video Scoring Assignments.xlsx", sheet_name="Master Master")

In [50]:
[col for col in reward_competition_df.columns if "Time" not in col]

['Date ',
 'Cage',
 'Box',
 'Match',
 'Trial 1 Winner',
 'Trial 2 Winner',
 'Trial 3 Winner',
 'Trial 4 Winner',
 'Trial 5 Winner',
 'Trial 6 Winner',
 'Trial 7 Winner',
 'Trial 8 Winner',
 'Trial 9 Winner',
 'Trial 10 Winner',
 'Trial 11 Winner',
 'Trial 12 Winner',
 'Trial 13 Winner',
 'Trial 14 Winner',
 'Trial 15 Winner',
 'Trial 16 Winner',
 'Trial 17 Winner',
 'Trial 18 Winner',
 'Trial 19 Winner',
 'Trial 20 Winner',
 'Mouse 1 Wins',
 'Mouse 2 Wins',
 'Ties ']

In [51]:
columns_to_keep = ['Date ',
 'Cage',
 'Box',
 'Match',
 'Trial 1 Winner',
 'Trial 2 Winner',
 'Trial 3 Winner',
 'Trial 4 Winner',
 'Trial 5 Winner',
 'Trial 6 Winner',
 'Trial 7 Winner',
 'Trial 8 Winner',
 'Trial 9 Winner',
 'Trial 10 Winner',
 'Trial 11 Winner',
 'Trial 12 Winner',
 'Trial 13 Winner',
 'Trial 14 Winner',
 'Trial 15 Winner',
 'Trial 16 Winner',
 'Trial 17 Winner',
 'Trial 18 Winner',
 'Trial 19 Winner',
 'Trial 20 Winner']

In [52]:
trimmed_reward_competition_df = reward_competition_df[columns_to_keep].copy()

In [53]:
trimmed_reward_competition_df.head()

,Date,Cage,Box,Match,Trial 1 Winner,Trial 2 Winner,Trial 3 Winner,Trial 4 Winner,Trial 5 Winner,Trial 6 Winner,...,Trial 11 Winner,Trial 12 Winner,Trial 13 Winner,Trial 14 Winner,Trial 15 Winner,Trial 16 Winner,Trial 17 Winner,Trial 18 Winner,Trial 19 Winner,Trial 20 Winner
0,2022-05-19,1,1,1.1 v 2.2,1.1,1.1,1.1,1.1,2.2,2.2,...,1.1,2.2,2.2,2.2,2.2,2.2,1.1,2.2,1.1,1.1
1,2022-05-19,1,2,2.3 v 1.4,1.4,1.4,2.3,2.3,1.4,1.4,...,2.3,2.3,2.3,2.3,1.4,1.4,1.4,1.4,2.3,2.3
2,2022-05-19,1,3,1.1 v 2.3,2.3,tie,2.3,1.1,1.1,2.3,...,2.3,2.3,1.1,2.3,2.3,2.3,2.3,2.3,2.3,NaN
3,2022-05-19,1,4,2.2 v 1.4,1.4,2.2,2.2,2.2,1.4,1.4,...,2.2,1.4,2.2,2.2,1.4,2.2,2.2,1.4,1.4,1.4
4,2022-05-19,1,2,2.2 v 2.3,2.2,2.3,2.3,2.3,2.2,2.3,...,2.3,tie,2.2,2.3,2.2,2.2,2.3,2.2,2.2,2.2

In [54]:
trimmed_reward_competition_df = trimmed_reward_competition_df.reset_index()

## Make a Column for each trial

In [55]:
trimmed_reward_competition_df["date_str"] = trimmed_reward_competition_df["Date "].apply(lambda x: str(x.date()))

In [56]:
trimmed_reward_competition_df.columns

Index(['index', 'Date ', 'Cage', 'Box', 'Match', 'Trial 1 Winner',
       'Trial 2 Winner', 'Trial 3 Winner', 'Trial 4 Winner', 'Trial 5 Winner',
       'Trial 6 Winner', 'Trial 7 Winner', 'Trial 8 Winner', 'Trial 9 Winner',
       'Trial 10 Winner', 'Trial 11 Winner', 'Trial 12 Winner',
       'Trial 13 Winner', 'Trial 14 Winner', 'Trial 15 Winner',
       'Trial 16 Winner', 'Trial 17 Winner', 'Trial 18 Winner',
       'Trial 19 Winner', 'Trial 20 Winner', 'date_str'],
      dtype='object')

In [57]:
trimmed_reward_competition_df

,index,Date,Cage,Box,Match,Trial 1 Winner,Trial 2 Winner,Trial 3 Winner,Trial 4 Winner,Trial 5 Winner,...,Trial 12 Winner,Trial 13 Winner,Trial 14 Winner,Trial 15 Winner,Trial 16 Winner,Trial 17 Winner,Trial 18 Winner,Trial 19 Winner,Trial 20 Winner,date_str
0,0,2022-05-19,1,1,1.1 v 2.2,1.1,1.1,1.1,1.1,2.2,...,2.2,2.2,2.2,2.2,2.2,1.1,2.2,1.1,1.1,2022-05-19
1,1,2022-05-19,1,2,2.3 v 1.4,1.4,1.4,2.3,2.3,1.4,...,2.3,2.3,2.3,1.4,1.4,1.4,1.4,2.3,2.3,2022-05-19
2,2,2022-05-19,1,3,1.1 v 2.3,2.3,tie,2.3,1.1,1.1,...,2.3,1.1,2.3,2.3,2.3,2.3,2.3,2.3,NaN,2022-05-19
3,3,2022-05-19,1,4,2.2 v 1.4,1.4,2.2,2.2,2.2,1.4,...,1.4,2.2,2.2,1.4,2.2,2.2,1.4,1.4,1.4,2022-05-19
4,4,2022-05-19,1,2,2.2 v 2.3,2.2,2.3,2.3,2.3,2.2,...,tie,2.2,2.3,2.2,2.2,2.3,2.2,2.2,2.2,2022-05-19
5,5,2022-05-19,1,1,1.1 v 1.4,1.4,1.1,1.4,1.4,1.1,...,1.1,1.1,1.4,1.4,1.4,1.4,1.4,1.4,1.1,2022-05-19
6,6,2022-05-20,1,4,1.1 v 1.4,1.1,1.1,1.1,1.1,1.1,...,1.1,1.1,1.1,1.1,1.1,1.1,Tie,1.4,NO TRIAL,2022-05-20
7,7,2022-05-20,1,3,2.2 v 2.3,2.2,2.2,2.2,2.2,tie,...,2.2,2.2,2.2,2.3,2.3,2.3,2.2,2.3,NaN,2022-05-20
8,8,2022-05-20,1,2,1.1 v 2.3,1.1,tie,2.3,1.1,1.1,...,tie,1.1,2.3,2.3,1.1,1.1,1.1,1.1,1.1,2022-05-20
9,9,2022-05-20,1,1,2.2 v 1.4,2.2,1.4,1.4,1.4,1.2,...,1.4,1.4,1.4,2.2,2.2,2.2,2.2,2.2,NaN,2022-05-20
10,10,2022-05-20,1,4,1.1 v 2.2,1.1,Tie,2.2,Tie,2.2,...,1.1,2.2,2.2,Tie,Tie,Tie,1.1,Tie,NO TRIAL,2022-05-20
11,11,2022-05-20,1,3,2.3 v 1.4,1.4,2.3,1.4,1.4,1.4,...,2.3,1.4,tie,1.4,2.3,1.4,1.4,1.4,2.3,2022-05-20
12,12,2022-05-19,2,3,2.1 v 1.2,2.1,2.1,1.2,2.1,2.1,...,2.1,2.1,2.1,2.1,2.1,2.1,1.2,1.2,2.1,2022-05-19
13,13,2022-05-19,2,4,1.3 v 2.4,1.3,1.3,1.3,1.3,2.4,...,2.4,1.3,2.4,1.3,1.3,2.4,2.4,1.3,1.3,2022-05-19
14,14,2022-05-19,2,1,2.1 v 1.3,1.3,1.3,2.1,1.3,1.3,...,2.1,1.3,1.3,2.1,1.3,2.1,2.1,1.3,NaN,2022-05-19
15,15,2022-05-19,2,2,1.2 v 2.4,2.4,2.4,1.2,2.4,1.2,...,1.2,1.2,2.4,2.4,2.4,2.4,1.2,1.2,1.2,2022-05-19
16,16,2022-05-19,2,3,2.1 v 2.4,2.1,2.4,2.1,2.1,2.1,...,2.4,2.1,2.1,2.1,2.4,2.1,2.1,2.1,2.1,2022-05-19
17,17,2022-05-19,2,4,1.2 v 1.3,1.2,1.3,1.2,1.3,1.2,...,1.2,1.3,1.3,1.3,1.3,1.3,tie,1.3,1.2,2022-05-19
18,18,2022-05-20,2,2,2.1 v 2.4,2.1,2.4,2.1,2.4,2.4,...,2.1,2.1,tie,tie,2.1,2.1,2.1,2.1,2.1,2022-05-20
19,19,2022-05-20,2,1,1.2 v 1.3,1.3,1.2,1.3,1.2,1.2,...,1.3,1.3,1.3,1.3,1.2,1.3,1.3,1.3,1.3,2022-05-20
20,20,2022-05-20,2,4,2.1 v 1.3,1.3,tie,2.1,1.3,tie,...,tie,1.3,2.1,2.1,2.1,tie,tie,tie,2.1,2022-05-20
21,21,2022-05-20,2,3,1.2 v 2.4,2.4,2.4,1.2,2.4,2.4,...,2.4,Tie,2.4,1.2,Tie,Tie,2.4,Tie,2.4,2022-05-20
22,22,2022-05-20,2,2,2.1 v 1.2,2.1,1.2,1.2,1.2,2.1,...,2.1,2.1,2.1,1.2,1.2,2.1,tie,tie,2.1,2022-05-20
23,23,2022-05-20,2,1,1.3 v 2.4,1.3,1.3,2.4,2.4,tie,...,2.4,1.3,2.4,1.3,2.4,2.4,2.4,2.4,2.4,2022-05-20
24,24,2022-05-19,3,1,4.1 (1) v 3.2 (2),4.1 (1),4.1 (1),3.2 (2),4.1 (1),4.1 (1),...,3.2 (2),4.1 (1),4.1 (1),4.1 (1),4.1 (1),4.1 (1),3.2 (2),4.1 (1),3.2 (2),2022-05-19
25,25,2022-05-19,3,2,4.2 (3) v 3.3 (4),4.2 (3),3.3 (4),3.3 (4),4.2 (3),4.2 (3),...,4.2 (3),3.3 (4),4.2 (3),3.3 (4),4.2 (3),4.2 (3),3.3 (4),4.2 (3),4.2 (3),2022-05-19
26,26,2022-05-19,3,3,4.1 (1) v 4.2 (3),4.2 (3),4.1 (1),4.1 (1),4.2 (3),4.1 (1),...,4.1 (1),4.1 (1),4.1 (1),4.1 (1),4.1 (1),4.1 (1),4.1 (1),4.2 (3),NaN,2022-05-19
27,27,2022-05-19,3,4,3.2 (2) v 3.3 (4),3.3 (4),3.2 (2),3.2 (2),3.2 (2),3.2 (2),...,3.2 (2),3.2 (2),3.2 (2),3.3 (4),tie,3.3 (4),3.2 (2),3.2 (2),NaN,2022-05-19
28,28,2022-05-19,3,1,4.1 (1) v 3.3 (4),3.3 (4),3.3 (4),4.1 (1),Tie,4.1 (1),...,3.3 (4),4.1 (1),4.1 (1),4.1 (1),4.1 (1),3.3 (4),4.1 (1),4.1 (1),NO TRIAL,2022-05-19
29,29,2022-05-19,3,2,3.2 (2) v 4.2 (3),tie,3.2 (2),3.2 (2),3.2 (2),3.2 (2),...,4.2 (3),tie,3.2 (2),4.2 (3),3.2 (2),3.2 (2),4.2 (3),3.2 (2),NaN,2022-05-19
30,30,2022-05-20,3,4,4.1 (1) v 3.3 (4),3.3 (4),3.3 (4),4.1 (1),4.1 (1),3.3 (4),...,3.3 (4),4.1 (1),4.1 (1),4.1 (1),4.1 (1),4.1 (1),4.1 (1),4.1 (1),4.1 (1),2022-05-20
31,31,2022-05-20,3,3,3.2 (2) v 4.2 (3),3.2 (2),3.2 (2),3.2 (2),3.2 (2),3.2 (2),...,4.2 (3),3.2 (2),4.2 (3),4.2 (3),4.2 (3),4.2 (3),4.2 (3),4.2 (3),4.2 (3),2022-05-20
32,32,2022-05-20,3,2,4.1 (1) v 4.2 (3),tie,4.1 (1),4.2 (3),4.2 (3),4.2 (3),...,4.1 (1),4.2 (3),tie,4.1 (1),4.2 (3),4.1 (1),4.1 (1),4.2 (3),4.1 (1),2022-05-20
33,33,2022-05-20,3,1,3.2 (2) v 3.3 (4),3.2 (2),3.2 (2),3.3 (4),3.3 (4),Tie,...,3.2 (2),3.2 (2),3.3 (4),3.3 (4),3.2 (2),3.2 (2),3.3 (4),3.3 (4),NO TRIAL,2022-05-20
34,34,2022-05-20,3,3,4.2 (3) v 3.3 (4),3.3 (4),4.2 (3),4.2 (3),4.2 (3),4.2 (3),...,4.2 (3),4.2 (3),4.2 (3),4.2 (3),3.3 (4),3.3 (4),3.3 (4),3.3 (4),3.3 (4),2022-05-20
35,35,2022-05-20,3,4,4.1 (1) v 3.2 (2),4.1 (1),3.2 (2),4.1 (1),tie,3.2 (2),...,4.1 (1),4.1 (1),tie,4.1 (1),4.1 (1),4.1 (1),3.2 (2),3.2 (2),3.2 (2),2022-05-20
36,36,2022-05-19,4,3,3.1 (1) v 3.4 (2),3.1 (1),3.1 (1),3.1 (1),3.1 (1),3.1 (1),...,3.4 (2),3.4 (2),3.4 (2),3.1 (1),3.1 (1),3.1 (1),3.1 (1),3.1 (1),3.1 (1),2022-05-19
37,37,2022-05-19,4,4,4.3 (3) v 4.4 (4),4.3 (3),4.4 (4),4.3 (3),4.4 (4),4.4 (4),...,4.4 (4),4.3 (3),4.4 (4),4.4 (4),4.4 (4),4.4 (4),4.3 (3),4.3 (3),4.3 (3),2022-05-19
38,38,2022-05-19,4,1,3.1 (1) v 4.3 (3),3.1 (1),3.1 (1),4.3 (3),tie,4.3 (3),...,4.3 (3),3.1 (1),3.1 (1),tie,4.3 (3),4.3 (3),3.1 (1),4.3 (3),NaN,2022-05-19
39,39,2022-05-19,4,2,3.4 (2) v 4.4 (4),4.4 (4),3.4 (2),4.4 (4),4.4 (4),4.4 (4),...,4.4 (4),4.4 (4),4.4 (4),4.4 (4),4.4 (4),3.4 (2),4.4 (4),3.4 (2),NO TRIAL,2022-05-19
40,40,2022-05-19,4,3,3.1 (1) v 4.4 (4),3.1 (1),3.1 (1),3.1 (1),3.1 (1),3.1 (1),...,4.4 (4),4.4 (4),4.4 (4),tie,3.1 (1),3.1 (1),3.1 (1),4.4 (4),4.4 (4),2022-05-19
41,41,2022-05-19,4,4,3.4 (2) v 4.3 (3),3.4 (2),3.4 (2),3.4 (2),4.3 (3),tie,...,4.3 (3),3.4 (2),4.3 (3),4.3 (3),tie,4.3 (3),4.3 (3),3.4 (2),NaN,2022-05-19
42,42,2022-05-20,4,2,3.1 (1) v 4.4 (4),3.1 (1),3.1 (1),3.1 (1),3.1 (1),3.1 (1),...,4.4 (4),4.4 (4),4.4 (4),3.1 (1),tie,3.1 (1),3.1 (1),4.4 (4),4.4 (4),2022-05-20
43,43,2022-05-20,4,1,3.4 (2) v 4.3 (3),4.3 (3),4.3 (3),Tie,4.3 (3),4.3 (3),...,4.3 (3),3.4 (2),3.4 (2),4.3 (3),Tie,4.3 (3),4.3 (3),4.3 (3),3.4 (2),2022-05-20
44,44,2022-05-20,4,4,3.1 (1) v 4.3 (3),4.3 (3),4.3 (3),tie,3.1 (1),3.1 (1),...,4.3 (3),3.1 (1),3.1 (1),3.1 (1),3.1 (1),3.1 (1),3.1 (1),3.1 (1),NaN,2022-05-20
45,45,2022-05-20,4,3,3.4 (2) v 4.4 (4),4.4 (4),4.4 (4),4.4 (4),4.4 (4),4.4 (4),...,4.4 (4),tie,4.4 (4),4.4 (4),3.4 (2),3.4 (2),4.4 (4),3.4 (2),NaN,2022-05-20
46,46,2022-05-20,4,2,3.1 (1) v 3.4 (2),3.1 (1),3.4 (2),3.1 (1),3.1 (1),3.1 (1),...,3.1 (1),3.4 (2),3.1 (1),3.1 (1),3.1 (1),3.1 (1),3.1 (1),3.1 (1),3.1 (1),2022-05-20
47,47,2022-05-20,4,1,4.3 (3) v 4.4 (4),4.3 (3),4.3 (3),4.4 (4),4.4 (4),4.4 (4),...,4.4 (4),4.4 (4),4.4 (4),4.3 (3),4.3 (3),4.4 (4),Tie,4.4 (4),4.3 (3),2022-05-20

In [58]:
melted_reward_competition_df = trimmed_reward_competition_df.melt(id_vars=["index", "Date ", "date_str", "Cage", "Box", "Match"], 
        var_name="Trial", 
        value_name="winner")

In [59]:
melted_reward_competition_df.head()

   index      Date     date_str  Cage  Box      Match           Trial winner
0      0 2022-05-19  2022-05-19     1    1  1.1 v 2.2  Trial 1 Winner    1.1
1      1 2022-05-19  2022-05-19     1    2  2.3 v 1.4  Trial 1 Winner    1.4
2      2 2022-05-19  2022-05-19     1    3  1.1 v 2.3  Trial 1 Winner    2.3
3      3 2022-05-19  2022-05-19     1    4  2.2 v 1.4  Trial 1 Winner    1.4
4      4 2022-05-19  2022-05-19     1    2  2.2 v 2.3  Trial 1 Winner    2.2

In [60]:
melted_reward_competition_df["Trial Number"] = melted_reward_competition_df["Trial"].apply(lambda x: int(re.search(r'\d+', x).group())
)

In [61]:

reordered_reward_competition_df = melted_reward_competition_df.sort_values(['index', 'Trial Number'], ascending=[True, True]).reset_index(drop=True)

In [62]:
reordered_reward_competition_df

,index,Date,date_str,Cage,Box,Match,Trial,winner,Trial Number
0,0,2022-05-19,2022-05-19,1,1,1.1 v 2.2,Trial 1 Winner,1.1,1
1,0,2022-05-19,2022-05-19,1,1,1.1 v 2.2,Trial 2 Winner,1.1,2
2,0,2022-05-19,2022-05-19,1,1,1.1 v 2.2,Trial 3 Winner,1.1,3
3,0,2022-05-19,2022-05-19,1,1,1.1 v 2.2,Trial 4 Winner,1.1,4
4,0,2022-05-19,2022-05-19,1,1,1.1 v 2.2,Trial 5 Winner,2.2,5
...,...,...,...,...,...,...,...,...,...
955,47,2022-05-20,2022-05-20,4,1,4.3 (3) v 4.4 (4),Trial 16 Winner,4.3 (3),16
956,47,2022-05-20,2022-05-20,4,1,4.3 (3) v 4.4 (4),Trial 17 Winner,4.4 (4),17
957,47,2022-05-20,2022-05-20,4,1,4.3 (3) v 4.4 (4),Trial 18 Winner,Tie,18
958,47,2022-05-20,2022-05-20,4,1,4.3 (3) v 4.4 (4),Trial 19 Winner,4.4 (4),19
959,47,2022-05-20,2022-05-20,4,1,4.3 (3) v 4.4 (4),Trial 20 Winner,4.3 (3),20

In [63]:
reordered_reward_competition_df["winner_str"] = reordered_reward_competition_df["winner"].apply(lambda x: str(x).lower().strip())

In [64]:
reordered_reward_competition_df["winner_str"].unique()

array(['1.1', '2.2', '1.4', '2.3', 'tie', 'nan', 'no trial', '1.2', '2.1',
       '1.3', '2.4', '4.1 (1)', '3.2 (2)', '4.2 (3)', '3.3 (4)', '4.1(1)',
       '3.1 (1)', '3.4 (2)', '4.3 (3)', '4.4 (4)'], dtype=object)

# Calculate Elo score for all cells

- Getting all the ID's of the animals

In [65]:
# Splitting by "v" and stripping all the spaces
reordered_reward_competition_df["all_animals"] = reordered_reward_competition_df["Match"].apply(lambda x: tuple([animal.strip() for animal in x.split("v")]))

In [66]:
reordered_reward_competition_df.head()

,index,Date,date_str,Cage,Box,Match,Trial,winner,Trial Number,winner_str,all_animals
0,0,2022-05-19,2022-05-19,1,1,1.1 v 2.2,Trial 1 Winner,1.1,1,1.1,"(1.1, 2.2)"
1,0,2022-05-19,2022-05-19,1,1,1.1 v 2.2,Trial 2 Winner,1.1,2,1.1,"(1.1, 2.2)"
2,0,2022-05-19,2022-05-19,1,1,1.1 v 2.2,Trial 3 Winner,1.1,3,1.1,"(1.1, 2.2)"
3,0,2022-05-19,2022-05-19,1,1,1.1 v 2.2,Trial 4 Winner,1.1,4,1.1,"(1.1, 2.2)"
4,0,2022-05-19,2022-05-19,1,1,1.1 v 2.2,Trial 5 Winner,2.2,5,2.2,"(1.1, 2.2)"

In [67]:
reordered_reward_competition_df.columns

Index(['index', 'Date ', 'date_str', 'Cage', 'Box', 'Match', 'Trial', 'winner',
       'Trial Number', 'winner_str', 'all_animals'],
      dtype='object')

## Get the Elo score for one fight

In [68]:
# Dictionary that keeps track of the current Elo score of the subject
id_to_elo_score = defaultdict(lambda:1000)

index_to_elo_score_and_meta_data = defaultdict(dict)
# Iterating through each column which is a day
all_indexes = iter(range(0, 99999))

# Keeping track of the number of matches
id_to_match_number = defaultdict(lambda:1)
for index, row in reordered_reward_competition_df.iterrows():
    # Checking if there is an Nan or not
    if row["winner_str"] == "nan":
        continue
    elif row["winner_str"] == "no trial":
        continue
    elif row["winner_str"] == "tie":
        winner_id = row["all_animals"][0]
        loser_id = row["all_animals"][1]
        winner_score = 0.5
        loser_score = 0.5 
    
    
    else:            
        winner_id = row["winner_str"]
        # Getting the ID of the loser subject
        loser_id = list(set(row["all_animals"]) - set([winner_id]))
        loser_id = loser_id[0]
        winner_score = 1
        loser_score = 0
        
        
    # Getting the current Elo Score
    current_winner_rating = id_to_elo_score[winner_id] 
    current_loser_rating = id_to_elo_score[loser_id] 
    # Calculating Elo score            
    id_to_elo_score[winner_id] = calculate_elo_score(subject_elo_score=current_winner_rating, agent_elo_score=current_loser_rating, score=winner_score, number_of_decimals=1)
    id_to_elo_score[loser_id] = calculate_elo_score(subject_elo_score=current_loser_rating, agent_elo_score=current_winner_rating, score=loser_score, number_of_decimals=1)

    date = row["date_str"]
    # Saving all the data for the winner
    winner_index = next(all_indexes)
    index_to_elo_score_and_meta_data[winner_index]["date"] = date
    index_to_elo_score_and_meta_data[winner_index]["match_number"] = id_to_match_number[date + str(winner_id)]
    index_to_elo_score_and_meta_data[winner_index]["cage"] = row["Cage"]
    index_to_elo_score_and_meta_data[winner_index]["subject_id"] = winner_id
    index_to_elo_score_and_meta_data[winner_index]["agent_id"] = loser_id
    index_to_elo_score_and_meta_data[winner_index]["original_elo_score"] = current_winner_rating
    index_to_elo_score_and_meta_data[winner_index]["updated_elo_score"] = id_to_elo_score[winner_id]
    index_to_elo_score_and_meta_data[winner_index]["win_draw_loss"] = winner_score


    # Saving all the data for the loser
    loser_index = next(all_indexes)
    index_to_elo_score_and_meta_data[loser_index]["date"] = date
    index_to_elo_score_and_meta_data[loser_index]["match_number"] = id_to_match_number[date + str(loser_id)]
    index_to_elo_score_and_meta_data[loser_index]["cage"] = row["Cage"]
    index_to_elo_score_and_meta_data[loser_index]["subject_id"] = loser_id
    index_to_elo_score_and_meta_data[loser_index]["agent_id"] = winner_id
    index_to_elo_score_and_meta_data[loser_index]["original_elo_score"] = current_loser_rating
    index_to_elo_score_and_meta_data[loser_index]["updated_elo_score"] = id_to_elo_score[loser_id]
    index_to_elo_score_and_meta_data[loser_index]["win_draw_loss"] = loser_score

    id_to_match_number[date + str(winner_id)] += 1
    id_to_match_number[date + str(loser_id)] += 1

In [69]:
id_to_elo_score

defaultdict(<function __main__.<lambda>()>,
            {'1.1': 1083.3,
             '2.2': 1056.1,
             '1.4': 934.8,
             '2.3': 901.7,
             '1.2': 934.6,
             '2.1': 1067.1,
             '1.3': 976.6,
             '2.4': 1045.8,
             '4.1 (1)': 1072.0,
             '3.2 (2)': 974.5,
             '4.2 (3)': 981.8,
             '3.3 (4)': 964.3,
             '4.1(1)': 1007.4,
             '3.1 (1)': 1125.5,
             '3.4 (2)': 860.5,
             '4.3 (3)': 961.7,
             '4.4 (4)': 1052.3})

In [70]:
index_to_elo_score_and_meta_data[0]

{'date': '2022-05-19',
 'match_number': 1,
 'cage': 1,
 'subject_id': '1.1',
 'agent_id': '2.2',
 'original_elo_score': 1000,
 'updated_elo_score': 1010.0,
 'win_draw_loss': 1}

In [71]:
reward_competition_elo_score_df = pd.DataFrame.from_dict(index_to_elo_score_and_meta_data, orient="index")

In [72]:
reward_competition_elo_score_df.head(n=25)

,date,match_number,cage,subject_id,agent_id,original_elo_score,updated_elo_score,win_draw_loss
0,2022-05-19,1,1,1.1,2.2,1000.0,1010.0,1.0
1,2022-05-19,1,1,2.2,1.1,1000.0,990.0,0.0
2,2022-05-19,2,1,1.1,2.2,1010.0,1019.4,1.0
3,2022-05-19,2,1,2.2,1.1,990.0,980.6,0.0
4,2022-05-19,3,1,1.1,2.2,1019.4,1028.3,1.0
5,2022-05-19,3,1,2.2,1.1,980.6,971.7,0.0
6,2022-05-19,4,1,1.1,2.2,1028.3,1036.7,1.0
7,2022-05-19,4,1,2.2,1.1,971.7,963.3,0.0
8,2022-05-19,5,1,2.2,1.1,963.3,975.4,1.0
9,2022-05-19,5,1,1.1,2.2,1036.7,1024.6,0.0
10,2022-05-19,6,1,2.2,1.1,975.4,986.8,1.0
11,2022-05-19,6,1,1.1,2.2,1024.6,1013.2,0.0
12,2022-05-19,7,1,1.1,2.2,1013.2,1022.4,1.0
13,2022-05-19,7,1,2.2,1.1,986.8,977.6,0.0
14,2022-05-19,8,1,2.2,1.1,977.6,988.9,1.0
15,2022-05-19,8,1,1.1,2.2,1022.4,1011.1,0.0
16,2022-05-19,9,1,1.1,2.2,1011.1,1020.5,1.0
17,2022-05-19,9,1,2.2,1.1,988.9,979.5,0.0
18,2022-05-19,10,1,1.1,2.2,1020.5,1029.3,1.0
19,2022-05-19,10,1,2.2,1.1,979.5,970.7,0.0
20,2022-05-19,11,1,1.1,2.2,1029.3,1037.6,1.0
21,2022-05-19,11,1,2.2,1.1,970.7,962.4,0.0
22,2022-05-19,12,1,2.2,1.1,962.4,974.5,1.0
23,2022-05-19,12,1,1.1,2.2,1037.6,1025.5,0.0
24,2022-05-19,13,1,2.2,1.1,974.5,986.0,1.0

In [73]:
reward_competition_elo_score_df[75:125]

,date,match_number,cage,subject_id,agent_id,original_elo_score,updated_elo_score,win_draw_loss
75,2022-05-19,18,1,2.3,1.4,1006.6,996.2,0.0
76,2022-05-19,19,1,2.3,1.4,996.2,1006.4,1.0
77,2022-05-19,19,1,1.4,2.3,1003.8,993.6,0.0
78,2022-05-19,20,1,2.3,1.4,1006.4,1016.0,1.0
79,2022-05-19,20,1,1.4,2.3,993.6,984.0,0.0
80,2022-05-19,21,1,2.3,1.1,1016.0,1025.7,1.0
81,2022-05-19,21,1,1.1,2.3,1005.9,996.2,0.0
82,2022-05-19,22,1,1.1,2.3,996.2,997.0,0.5
83,2022-05-19,22,1,2.3,1.1,1025.7,1024.9,0.5
84,2022-05-19,23,1,2.3,1.1,1024.9,1034.1,1.0
85,2022-05-19,23,1,1.1,2.3,997.0,987.8,0.0
86,2022-05-19,24,1,1.1,2.3,987.8,999.1,1.0
87,2022-05-19,24,1,2.3,1.1,1034.1,1022.8,0.0
88,2022-05-19,25,1,1.1,2.3,999.1,1009.8,1.0
89,2022-05-19,25,1,2.3,1.1,1022.8,1012.1,0.0
90,2022-05-19,26,1,2.3,1.1,1012.1,1022.0,1.0
91,2022-05-19,26,1,1.1,2.3,1009.8,999.9,0.0
92,2022-05-19,27,1,2.3,1.1,1022.0,1031.4,1.0
93,2022-05-19,27,1,1.1,2.3,999.9,990.5,0.0
94,2022-05-19,28,1,1.1,2.3,990.5,991.7,0.5
95,2022-05-19,28,1,2.3,1.1,1031.4,1030.2,0.5
96,2022-05-19,29,1,2.3,1.1,1030.2,1039.1,1.0
97,2022-05-19,29,1,1.1,2.3,991.7,982.8,0.0
98,2022-05-19,30,1,1.1,2.3,982.8,994.4,1.0
99,2022-05-19,30,1,2.3,1.1,1039.1,1027.5,0.0
100,2022-05-19,31,1,2.3,1.1,1027.5,1036.6,1.0
101,2022-05-19,31,1,1.1,2.3,994.4,985.3,0.0
102,2022-05-19,32,1,2.3,1.1,1036.6,1045.1,1.0
103,2022-05-19,32,1,1.1,2.3,985.3,976.8,0.0
104,2022-05-19,33,1,1.1,2.3,976.8,988.7,1.0
105,2022-05-19,33,1,2.3,1.1,1045.1,1033.2,0.0
106,2022-05-19,34,1,2.3,1.1,1033.2,1041.9,1.0
107,2022-05-19,34,1,1.1,2.3,988.7,980.0,0.0
108,2022-05-19,35,1,2.3,1.1,1041.9,1050.1,1.0
109,2022-05-19,35,1,1.1,2.3,980.0,971.8,0.0
110,2022-05-19,36,1,2.3,1.1,1050.1,1057.9,1.0
111,2022-05-19,36,1,1.1,2.3,971.8,964.0,0.0
112,2022-05-19,37,1,2.3,1.1,1057.9,1065.3,1.0
113,2022-05-19,37,1,1.1,2.3,964.0,956.6,0.0
114,2022-05-19,38,1,2.3,1.1,1065.3,1072.3,1.0
115,2022-05-19,38,1,1.1,2.3,956.6,949.6,0.0
116,2022-05-19,39,1,2.3,1.1,1072.3,1078.9,1.0
117,2022-05-19,39,1,1.1,2.3,949.6,943.0,0.0
118,2022-05-19,21,1,1.4,2.2,984.0,994.3,1.0
119,2022-05-19,21,1,2.2,1.4,994.1,983.8,0.0
120,2022-05-19,22,1,2.2,1.4,983.8,994.1,1.0
121,2022-05-19,22,1,1.4,2.2,994.3,984.0,0.0
122,2022-05-19,23,1,2.2,1.4,994.1,1003.8,1.0
123,2022-05-19,23,1,1.4,2.2,984.0,974.3,0.0
124,2022-05-19,24,1,2.2,1.4,1003.8,1013.0,1.0

In [74]:
reward_competition_elo_score_df.to_csv("./proc/reward_competition_elo_score.csv")
# elo_score_df.to_excel("./proc/id_to_date_elo_score.xlsx")

# Calculate Elo Score Urine Marking Assay

In [75]:
urine_marking_assay_df = pd.read_excel("../../data/Pilot of Pilot Consolidation.xlsx", sheet_name="Urine Marking Assay")

In [76]:
urine_marking_assay_df["date_str"] = urine_marking_assay_df["Date"].astype(str)

In [77]:
urine_marking_assay_df["winner_str"] = urine_marking_assay_df["Winner"].astype(str).apply(lambda x: x.strip())

In [78]:
urine_marking_assay_df.head()

        Date  CAGE              Match   Winner    date_str winner_str
0 2022-05-18     3  4.1 (1) v 3.2 (2)  3.2 (2)  2022-05-18    3.2 (2)
1 2022-05-18     3  4.2 (3) v 3.3 (4)  4.2 (3)  2022-05-18    4.2 (3)
2 2022-05-18     4  3.1 (1) v 3.4 (2)  3.1 (1)  2022-05-18    3.1 (1)
3 2022-05-18     4  4.3 (3) v 4.4 (4)  4.4 (4)  2022-05-18    4.4 (4)
4 2022-05-19     3  4.1 (1) v 3.2 (2)  4.1 (1)  2022-05-19    4.1 (1)

# Calculate Elo score for all cells

- Getting all the ID's of the animals

In [79]:
# Splitting by "v" and stripping all the spaces
urine_marking_assay_df["all_animals"] = urine_marking_assay_df["Match"].apply(lambda x: tuple([animal.strip() for animal in x.split("v")]))

In [80]:
urine_marking_assay_df.head(n=25)

,Date,CAGE,Match,Winner,date_str,winner_str,all_animals
0,2022-05-18,3,4.1 (1) v 3.2 (2),3.2 (2),2022-05-18,3.2 (2),"(4.1 (1), 3.2 (2))"
1,2022-05-18,3,4.2 (3) v 3.3 (4),4.2 (3),2022-05-18,4.2 (3),"(4.2 (3), 3.3 (4))"
2,2022-05-18,4,3.1 (1) v 3.4 (2),3.1 (1),2022-05-18,3.1 (1),"(3.1 (1), 3.4 (2))"
3,2022-05-18,4,4.3 (3) v 4.4 (4),4.4 (4),2022-05-18,4.4 (4),"(4.3 (3), 4.4 (4))"
4,2022-05-19,3,4.1 (1) v 3.2 (2),4.1 (1),2022-05-19,4.1 (1),"(4.1 (1), 3.2 (2))"
5,2022-05-19,3,4.2 (3) v 3.3 (4),tie,2022-05-19,tie,"(4.2 (3), 3.3 (4))"
6,2022-05-19,4,3.1 (1) v 3.4 (2),3.4 (2),2022-05-19,3.4 (2),"(3.1 (1), 3.4 (2))"
7,2022-05-19,4,4.3 (3) v 4.4 (4),4.4 (4),2022-05-19,4.4 (4),"(4.3 (3), 4.4 (4))"
8,2022-05-19,1,1.1 v 2.3,1.1,2022-05-19,1.1,"(1.1, 2.3)"
9,2022-05-19,1,2.2 v 1.4,1.4,2022-05-19,1.4,"(2.2, 1.4)"
10,2022-05-19,2,1.2 v 2.4,2.4,2022-05-19,2.4,"(1.2, 2.4)"
11,2022-05-19,2,2.1 v 1.3,2.1,2022-05-19,2.1,"(2.1, 1.3)"
12,2022-05-20,3,4.1 (1) v 4.2 (3),4.1 (1),2022-05-20,4.1 (1),"(4.1 (1), 4.2 (3))"
13,2022-05-20,3,3.2 (2) v 3.3 (4),3.3 (4),2022-05-20,3.3 (4),"(3.2 (2), 3.3 (4))"
14,2022-05-20,4,3.1 (1) v 4.3 (3),3.1 (1),2022-05-20,3.1 (1),"(3.1 (1), 4.3 (3))"
15,2022-05-20,4,3.4 (2) v 4.4 (4),4.4 (4),2022-05-20,4.4 (4),"(3.4 (2), 4.4 (4))"
16,2022-05-20,2,1.3 v 2.4,1.3,2022-05-20,1.3,"(1.3, 2.4)"
17,2022-05-20,2,2.1 v 1.2,2.1,2022-05-20,2.1,"(2.1, 1.2)"
18,2022-05-20,1,1.1 v 2.2,2.2,2022-05-20,2.2,"(1.1, 2.2)"
19,2022-05-20,1,2.3 v 1.4,1.4,2022-05-20,1.4,"(2.3, 1.4)"
20,2022-05-24,1,1.1 v 1.4,1.1,2022-05-24,1.1,"(1.1, 1.4)"
21,2022-05-24,1,2.2 v 2.3,tie,2022-05-24,tie,"(2.2, 2.3)"
22,2022-05-24,2,2.1 v 2.4,2.1,2022-05-24,2.1,"(2.1, 2.4)"
23,2022-05-24,2,1.2 v 1.3,1.3,2022-05-24,1.3,"(1.2, 1.3)"
24,2022-05-24,3,4.1 (1) v 3.3 (4),4.1 (1),2022-05-24,4.1 (1),"(4.1 (1), 3.3 (4))"

## Get the Elo score for one fight

In [81]:
# Dictionary that keeps track of the current Elo score of the subject
id_to_elo_score = defaultdict(lambda:1000)

index_to_elo_score_and_meta_data = defaultdict(dict)
# Iterating through each column which is a day
all_indexes = iter(range(0, 99999))

# Keeping track of the number of matches
id_to_match_number = defaultdict(lambda:1)
for index, row in reordered_reward_competition_df.iterrows():
    # Checking if there is an Nan or not
    if row["winner_str"] == "nan":
        continue
    elif row["winner_str"] == "no trial":
        continue
    elif row["winner_str"] == "tie":
        winner_id = row["all_animals"][0]
        loser_id = row["all_animals"][1]
        winner_score = 0.5
        loser_score = 0.5 
    
    
    else:            
        winner_id = row["winner_str"]
        # Getting the ID of the loser subject
        loser_id = list(set(row["all_animals"]) - set([winner_id]))
        loser_id = loser_id[0]
        winner_score = 1
        loser_score = 0
        
        
    # Getting the current Elo Score
    current_winner_rating = id_to_elo_score[winner_id] 
    current_loser_rating = id_to_elo_score[loser_id] 
    # Calculating Elo score            
    id_to_elo_score[winner_id] = calculate_elo_score(subject_elo_score=current_winner_rating, agent_elo_score=current_loser_rating, score=winner_score, number_of_decimals=1)
    id_to_elo_score[loser_id] = calculate_elo_score(subject_elo_score=current_loser_rating, agent_elo_score=current_winner_rating, score=loser_score, number_of_decimals=1)

    date = row["date_str"]
    # Saving all the data for the winner
    winner_index = next(all_indexes)
    index_to_elo_score_and_meta_data[winner_index]["date"] = date
    index_to_elo_score_and_meta_data[winner_index]["match_number"] = id_to_match_number[date + str(winner_id)]
    index_to_elo_score_and_meta_data[winner_index]["cage"] = row["Cage"]
    index_to_elo_score_and_meta_data[winner_index]["subject_id"] = winner_id
    index_to_elo_score_and_meta_data[winner_index]["agent_id"] = loser_id
    index_to_elo_score_and_meta_data[winner_index]["original_elo_score"] = current_winner_rating
    index_to_elo_score_and_meta_data[winner_index]["updated_elo_score"] = id_to_elo_score[winner_id]
    index_to_elo_score_and_meta_data[winner_index]["win_draw_loss"] = winner_score


    # Saving all the data for the loser
    loser_index = next(all_indexes)
    index_to_elo_score_and_meta_data[loser_index]["date"] = date
    index_to_elo_score_and_meta_data[loser_index]["match_number"] = id_to_match_number[date + str(loser_id)]
    index_to_elo_score_and_meta_data[loser_index]["cage"] = row["Cage"]
    index_to_elo_score_and_meta_data[loser_index]["subject_id"] = loser_id
    index_to_elo_score_and_meta_data[loser_index]["agent_id"] = winner_id
    index_to_elo_score_and_meta_data[loser_index]["original_elo_score"] = current_loser_rating
    index_to_elo_score_and_meta_data[loser_index]["updated_elo_score"] = id_to_elo_score[loser_id]
    index_to_elo_score_and_meta_data[loser_index]["win_draw_loss"] = loser_score

    id_to_match_number[date + str(winner_id)] += 1
    id_to_match_number[date + str(loser_id)] += 1

In [82]:
# Dictionary that keeps track of the current Elo score of the subject
id_to_elo_score = defaultdict(lambda:1000)

index_to_elo_score_and_meta_data = defaultdict(dict)
# Iterating through each column which is a day
all_indexes = iter(range(0, 99999))

# Keeping track of the number of matches
id_to_match_number = defaultdict(lambda:1)
for index, row in urine_marking_assay_df.iterrows():
    # Checking if there is an Nan or not
    if row["winner_str"] == "nan":
        continue
    elif row["winner_str"] == "tie":
        winner_id = row["all_animals"][0]
        loser_id = row["all_animals"][1]
        winner_score = 0.5
        loser_score = 0.5  
    else:            
        winner_id = row["winner_str"]
        # Getting the ID of the loser subject
        loser_id = list(set(row["all_animals"]) - set([winner_id]))
        loser_id = loser_id[0]
        winner_score = 1
        loser_score = 0
        
        
        
        
    date = row["date_str"]
    # Getting the ID of the loser subject
    loser_id = list(set(row["all_animals"]) - set([winner_id]))
    loser_id = loser_id[0]
    # Getting the current Elo Score
    current_winner_rating = id_to_elo_score[winner_id] 
    current_loser_rating = id_to_elo_score[loser_id] 
    # Calculating Elo score            
    id_to_elo_score[winner_id] = calculate_elo_score(subject_elo_score=current_winner_rating, agent_elo_score=current_loser_rating, score=winner_score, number_of_decimals=1)
    id_to_elo_score[loser_id] = calculate_elo_score(subject_elo_score=current_loser_rating, agent_elo_score=current_winner_rating, score=loser_score, number_of_decimals=1)

    # Saving all the data for the winner
    winner_index = next(all_indexes)
    index_to_elo_score_and_meta_data[winner_index]["date"] = date
    index_to_elo_score_and_meta_data[winner_index]["match_number"] = id_to_match_number[date + winner_id]
    index_to_elo_score_and_meta_data[winner_index]["cage"] = row["CAGE"]
    index_to_elo_score_and_meta_data[winner_index]["subject_id"] = winner_id
    index_to_elo_score_and_meta_data[winner_index]["agent_id"] = loser_id
    index_to_elo_score_and_meta_data[winner_index]["original_elo_score"] = current_winner_rating
    index_to_elo_score_and_meta_data[winner_index]["updated_elo_score"] = id_to_elo_score[winner_id]
    index_to_elo_score_and_meta_data[winner_index]["win_draw_loss"] = winner_score


    # Saving all the data for the loser
    loser_index = next(all_indexes)
    index_to_elo_score_and_meta_data[loser_index]["date"] = date
    index_to_elo_score_and_meta_data[loser_index]["match_number"] = id_to_match_number[date + loser_id]
    index_to_elo_score_and_meta_data[loser_index]["cage"] = row["CAGE"]
    index_to_elo_score_and_meta_data[loser_index]["subject_id"] = loser_id
    index_to_elo_score_and_meta_data[loser_index]["agent_id"] = winner_id
    index_to_elo_score_and_meta_data[loser_index]["original_elo_score"] = current_loser_rating
    index_to_elo_score_and_meta_data[loser_index]["updated_elo_score"] = id_to_elo_score[loser_id]
    index_to_elo_score_and_meta_data[loser_index]["win_draw_loss"] = loser_score

    id_to_match_number[date + winner_id] += 1
    id_to_match_number[date + loser_id] += 1

In [83]:
id_to_elo_score

defaultdict(<function __main__.<lambda>()>,
            {'3.2 (2)': 999.4,
             '4.1 (1)': 1020.6,
             '4.2 (3)': 978.9,
             '3.3 (4)': 1001.1,
             '3.1 (1)': 1009.0,
             '3.4 (2)': 971.0,
             '4.4 (4)': 1054.6,
             '4.3 (3)': 965.4,
             '1.1': 1028.3,
             '2.3': 963.4,
             '1.4': 1007.2,
             '2.2': 1001.1,
             '2.4': 1000.6,
             '1.2': 962.8,
             '2.1': 1037.2,
             '1.3': 999.4})

In [84]:
index_to_elo_score_and_meta_data[0]

{'date': '2022-05-18',
 'match_number': 1,
 'cage': 3,
 'subject_id': '3.2 (2)',
 'agent_id': '4.1 (1)',
 'original_elo_score': 1000,
 'updated_elo_score': 1010.0,
 'win_draw_loss': 1}

In [85]:
urine_marking_elo_score_df = pd.DataFrame.from_dict(index_to_elo_score_and_meta_data, orient="index")

In [88]:
urine_marking_elo_score_df.head(n=25)

,date,match_number,cage,subject_id,agent_id,original_elo_score,updated_elo_score,win_draw_loss
0,2022-05-18,1,3,3.2 (2),4.1 (1),1000.0,1010.0,1.0
1,2022-05-18,1,3,4.1 (1),3.2 (2),1000.0,990.0,0.0
2,2022-05-18,1,3,4.2 (3),3.3 (4),1000.0,1010.0,1.0
3,2022-05-18,1,3,3.3 (4),4.2 (3),1000.0,990.0,0.0
4,2022-05-18,1,4,3.1 (1),3.4 (2),1000.0,1010.0,1.0
5,2022-05-18,1,4,3.4 (2),3.1 (1),1000.0,990.0,0.0
6,2022-05-18,1,4,4.4 (4),4.3 (3),1000.0,1010.0,1.0
7,2022-05-18,1,4,4.3 (3),4.4 (4),1000.0,990.0,0.0
8,2022-05-19,1,3,4.1 (1),3.2 (2),990.0,1000.6,1.0
9,2022-05-19,1,3,3.2 (2),4.1 (1),1010.0,999.4,0.0
10,2022-05-19,1,3,4.2 (3),3.3 (4),1010.0,1009.4,0.5
11,2022-05-19,1,3,3.3 (4),4.2 (3),990.0,990.6,0.5
12,2022-05-19,1,4,3.4 (2),3.1 (1),990.0,1000.6,1.0
13,2022-05-19,1,4,3.1 (1),3.4 (2),1010.0,999.4,0.0
14,2022-05-19,1,4,4.4 (4),4.3 (3),1010.0,1019.4,1.0
15,2022-05-19,1,4,4.3 (3),4.4 (4),990.0,980.6,0.0
16,2022-05-19,1,1,1.1,2.3,1000.0,1010.0,1.0
17,2022-05-19,1,1,2.3,1.1,1000.0,990.0,0.0
18,2022-05-19,1,1,1.4,2.2,1000.0,1010.0,1.0
19,2022-05-19,1,1,2.2,1.4,1000.0,990.0,0.0
20,2022-05-19,1,2,2.4,1.2,1000.0,1010.0,1.0
21,2022-05-19,1,2,1.2,2.4,1000.0,990.0,0.0
22,2022-05-19,1,2,2.1,1.3,1000.0,1010.0,1.0
23,2022-05-19,1,2,1.3,2.1,1000.0,990.0,0.0
24,2022-05-20,1,3,4.1 (1),4.2 (3),1000.6,1010.9,1.0

In [90]:
home_cage_elo_score_df.to_csv("./proc/urine_marking_elo_score.csv")